<query-editor-row query-ctrl="ctrl" can-collapse="false" has-text-edit-mode="true">

  <!-- BEGIN - Get Template -->
  <script type="text/ng-template" id="categoryTree">

    <span class="gf-form-inline" ng-repeat="func in func.wrapper" ng-include="'categoryTree'"></span>

    <button class="btn btn-inverse gf-form-btn query-keyword" ng-click="func.addWrapper()"><i class="fa fa-plus"></i></button>

    <span class="gf-form-select-wrapper">
      <select class="gf-form-input width-8" ng-model="func.title" ng-change="func.changeTitle()">
        <option value="Aggregate" ng-if="func.root">Aggregate</option>
        <option value="Average" ng-if="!func.root">Average</option>
        <option value="Count" ng-if="!func.root">Count</option>
        <option value="Extrapolate" ng-if="!func.root">Extrapolate</option>
        <option value="Max" ng-if="!func.root">Max</option>
        <option value="Min" ng-if="!func.root">Min</option>
        <option value="Percentile" ng-if="!func.root">Percentile</option>
        <option value="Sum" ng-if="!func.root">Sum</option>
        <option value="Delete" ng-if="!func.root">-- Delete --</option>
      </select>
    </span>

    <!-- Singleton function -->
    <span ng-if="funct.type=='Singleton'"></span>

    <!-- Percentile function -->
    <input type="text" ng-if="func.type=='Percentile'" class="gf-form-input width-3" ng-model="func.percentile"/>

    <!-- Aggregate function -->
    <span class="gf-form-select-wrapper" ng-if="func.type=='Aggregate'">
      <select class="gf-form-input width-8" name="aggregator" ng-model="func.method" bs-tooltip="'Select an Aggregator'">
        <option "style = background: #292929" value="average">average</option>
        <option "style = background: #292929" value="max">max</option>
        <option "style = background: #292929" value="min">min</option>
        <option "style = background: #292929" value="sum">sum</option>
        <option "style = background: #292929" value="percentile">percentile</option>
        <option "style = background: #292929" value="template">template</option>
      </select>
    </span>

    <input type="text" ng-if="func.type=='Aggregate'&&func.method=='percentile'" class="gf-form-input width-7" ng-model="func.percentile"/>
    <input type="text" ng-if="func.type=='Aggregate'&&func.method=='template'" class="gf-form-input width-10" placeholder="$<variable_name>" ng-model="func.template"/>

    <metric-segment-model ng-if="func.type=='Aggregate'" css-class="width-10" property="func.target" ng-model="func.target" get-options="ctrl.getMeasurementTypeValues()"></metric-segment-model>

  </script>
  <!-- END - Get Template -->

  <div ng-if="ctrl.target.rawQuery">
    <div class="gf-form">
      <input type="text" class="gf-form-input" ng-model="ctrl.target.target" spellcheck="false" ng-blur="ctrl.onChangeInternal()"></input>
      <label class="gf-form-label query-keyword width-8">Target Name</label>
      <input type="text" class="gf-form-input width-16" ng-model="ctrl.target.target_alias" bs-tooltip="Add target alias" data-iplacement="right" spellcheck="false" ng-blur="ctrl.onChangeInternal()"></input>
    </div>
  </div>

  <div ng-if="!ctrl.target.rawQuery">
	<div class="gf-form-inline">
	  <div class="gf-form">
        <label class="gf-form-label query-keyword width-8">From</label>
        <metric-segment-model property="ctrl.target.series" get-options = "ctrl.getMeasurementTypes()" on-change="ctrl.onChangeInternal()" >
        </metric-segment-model>
      </div>
	  
	  <div class="gf-form gf-form--grow">
		<div class="gf-form-label gf-form-label--grow"></div>
	  </div>
	</div>

    <!-- EMPTY GET -->
    <div ng-if="!ctrl.target.func.length" class="gf-form">
      <label class="gf-form-label query-keyword width-8">Get</label>

      <button class="btn btn-inverse gf-form-btn query-keyword" ng-click="ctrl.addValueSegments()"><i class="fa fa-plus"></i></button>

	  <div class="gf-form gf-form--grow">
        <div class="gf-form-label gf-form-label--grow"></div>
      </div>
    </div>

    <!-- GET -->
    <div ng-repeat="segment in ctrl.target.metricValues_array track by $index">
      <div class="gf-form">

        <label ng-if="$index == 0" class="gf-form-label query-keyword width-8">Get</label>
        <div ng-if="$index != 0" style="padding-left: 111px;"></div>

        <span class="gf-form-inline" ng-include="'categoryTree'" ng-init="func = ctrl.target.func[$index]"></span>

        <button class="btn btn-inverse gf-form-btn query-keyword" ng-if="!ctrl.target.func[$index].expanded" ng-click="ctrl.target.func[$index].expanded=true"><i class="fa fa-caret-right"></i> Options</button>
        <button class="btn btn-inverse gf-form-btn query-keyword" ng-if="ctrl.target.func[$index].expanded" ng-click="ctrl.target.func[$index].expanded=false"><i class="fa fa-caret-down"></i> Options</button>

	    <div class="gf-form gf-form--grow">
          <div class="gf-form-label gf-form-label--grow"></div>
        </div>

        <button class="btn btn-inverse gf-form-btn query-keyword" ng-click="ctrl.addValueSegments()"><i class="fa fa-plus"></i></button>
        <button class="btn btn-inverse gf-form-btn" ng-click="ctrl.removeValueSegment($index)"><i class="fa fa-trash"></i></button>
      </div>

      <div class="gf-form" style="padding-left: 111px;" ng-if="ctrl.target.func[$index].expanded">
        <label class="gf-form-label query-keyword width-3"><i class="fa fa-bitbucket" aria-hidden="true"></i></label>
        <input type="text" class="gf-form-input width-8" placeholder="300" ng-model="func.bucket" bs-tooltip="'Bucket Size'"/>
      </div>

      <div class="gf-form" style="padding-left: 111px;" ng-if="ctrl.target.func[$index].expanded">
        <label class="gf-form-label query-keyword width-3">AS</label>
	    <input type="text" class="gf-form-input width-8" placeholder="alias" ng-model="ctrl.target.func[$index].alias"/>
      </div>
    </div>

	<div class="gf-form-inline">
	  <div class="gf-form">
        <label class="gf-form-label query-keyword width-8">Metadata</label>
	  </div>
      <div ng-repeat="element in ctrl.target.metric_array track by $index" class="gf-form">
		<metric-segment-model style="min-width:66px;" property="ctrl.target.metric_array[$index]" get-options="ctrl.getMetaFields()"></metric-segment-model>
		<button class="btn btn-inverse gf-form-btn"  ng-click="ctrl.removeSegment($index)"><i class="fa fa-trash"></i></button>
      </div>
	  
	  <div class="gf-form">
        <button class = "btn btn-inverse gf-form-btn query-keyword"  ng-click="ctrl.addSegments()"><i class="fa fa-plus"></i></button>
      </div>

	  <div class="gf-form gf-form--grow">
        <div class="gf-form-label gf-form-label--grow"></div>
      </div>
	</div>

	<div ng-repeat="line in ctrl.target.whereClauseGroup" ng-init="parentIndex = $index">

	  <div ng-if="$index > 0" class="gf-form-inline" style="padding-left:111px;">
        <span class="gf-form-select-wrapper" style="width:64px;margin-bottom:2px;">
		  <select class="gf-form-input" name="Group" ng-model="ctrl.target.outerGroupOperator[$index]" bs-tooltip="'Select an Operator'">
		    <option value="and">and</option>
            <option value="or">or</option>
          </select>
        </span>
	    <div class="gf-form gf-form--grow">
          <div class="gf-form-label gf-form-label--grow"></div>
        </div>
      </div>

	  <div ng-if="$index == 0" class="gf-form-inline">
		<div class="gf-form">
		  <label ng-if="$index == 0" class="gf-form-label query-keyword width-8">Where</label>

		  <div ng-repeat="segment in line">
			<div class="gf-form-inline">

              <span class="gf-form-select-wrapper" ng-if="$index > 0">
			    <select class="gf-form-input" name="whereGroup" ng-model="ctrl.target.inlineGroupOperator[parentIndex][$index]" bs-tooltip="'Select an Operator'">
		          <option value="and">and</option>
	        	  <option value="or">or</option>
			    </select>
              </span>

              <metric-segment-model property="segment.left" ng-model="segment.left" get-options="ctrl.getMetaFields()" style="min-width:66px;"></metric-segment-model>

              <span class="gf-form-select-wrapper">
		        <select class="gf-form-input" style="width:64px;" name="operator" ng-model="segment.op" bs-tooltip="'Select an Operator'">
        		  <option></option>
                  <option value="=">=</option>
                  <option value="!=">!=</option>
	              <option value=">=">&ge;</option>
        	      <option value="<=">&le;</option>
		          <option value=">">&gt;</option>
        		  <option value="<">&lt;</option>
                  <option value="like">Like</option>
	              <option value="not like">Not Like</option>
        	    </select>
			  </span>

              <input type="text" class="gf-form-input width-10" placeholder="Type Target name" ng-model="segment.right" bs-typeahead="ctrl.getMetaFieldValues" ng-blur="ctrl.onChangeInternal()" ng-change="ctrl.saveIndices(parentIndex, $index)"></input>
              <button class="btn btn-inverse gf-form-btn" ng-click="ctrl.removeWhereClause(parentIndex,$index)"><i class="fa fa-trash"></i></button>
            </div>
	      </div>
	    </div>	
        <div class="gf-form">
		  <button class="btn btn-inverse gf-form-btn query-keyword" ng-click="ctrl.addWhereClause($index)">Add Rule <i class="fa fa-plus"></i></button>
		</div>
        <div class="gf-form">
		  <button class="btn btn-inverse gf-form-btn query-keyword" ng-click="ctrl.addWhereClauseGroup()">Add Group <i class="fa fa-plus"></i></button>
		</div>

		<div class="gf-form gf-form--grow">
          <div class="gf-form-label gf-form-label--grow"></div>
        </div>

      </div>

      <div style="padding-left:111px;" ng-if="$index>0" class="gf-form-inline">
      <div class="gf-form">
        <label ng-if="$index == 0" class="gf-form-label query-keyword width-8">Where</label>
        <div ng-repeat="segment in line">
          <div class="gf-form-inline">
            <span class="gf-form-select-wrapper" ng-if="$index > 0">
              <select class="gf-form-input" style="width:64px;" name="whereGroup" ng-model="ctrl.target.inlineGroupOperator[parentIndex][$index]" bs-tooltip="'Select an Operator'">
                <option value="and">and</option>
                <option value="or">or</option>
              </select>
            </span>

            <metric-segment-model property="segment.left" ng-model="segment.left" get-options="ctrl.getMetaFields()" style="min-width:66px;"></metric-segment-model>

            <span class="gf-form-select-wrapper">
              <select class="gf-form-input" style="width:64px;" name="operator" ng-model="segment.op" bs-tooltip="'Select an Operator'">
                <option></option>
                <option value="=">=</option>
                <option value="!=">!=</option>
                <option value=">=">&ge;</option>
                <option value="<=">&le;</option>
                <option value=">">&gt;</option>
                <option value="<">&lt;</option>
                <option value="like">Like</option>
                <option value="not like">Not Like</option>
              </select>
            </span>

            <input type="text" class="gf-form-input width-10" placeholder="Type Target name" ng-model="segment.right" bs-typeahead="ctrl.getMetaFieldValues" ng-blur="ctrl.onChangeInternal()" ng-change="ctrl.saveIndices(parentIndex, $index)"></input>
            <button class="btn btn-inverse gf-form-btn"  ng-click="ctrl.removeWhereClause(parentIndex,$index)"><i class="fa fa-trash"></i></button>

          </div>
        </div>
      </div>
      <div class="gf-form">
        <button class="btn btn-inverse gf-form-btn query-keyword" ng-click="ctrl.addWhereClause($index)">Add Rule <i class="fa fa-plus"></i></button>
      </div>
      <div class="gf-form">
        <button class="btn btn-inverse gf-form-btn query-keyword" ng-click="ctrl.addWhereClauseGroup()">Add Group <i class="fa fa-plus"></i></button>
      </div>

	  <div class="gf-form gf-form--grow">
        <div class="gf-form-label gf-form-label--grow"></div>
      </div>

    </div>

  </div>
  
  <div class="gf-form-inline">
    <div class="gf-form" ng-class="{'has-error': !ctrl.target.groupby_field}">
      <label class="gf-form-label query-keyword width-8">Group By</label>
      <input type="text" class="gf-form-input" name="groupBy" ng-model="ctrl.target.groupby_field" required bs-tooltip="'Add a group by column'"
             placeholder="column" spellcheck="false" bs-typeahead="listColumns" data-min-length=0></input>
    </div>
	<div class="gf-form gf-form--grow">
      <div class="gf-form-label gf-form-label--grow"></div>
    </div>
  </div>

  <div class="gf-form-inline">
    <div class="gf-form">
      <label class="gf-form-label query-keyword width-8">Order By</label>
      <input type="text" class="gf-form-input" ng-model="ctrl.target.orderby_field" bs-tooltip="'Add an order by column or leave blank'" placeholder="column" spellcheck="false" data-min-length=0></input>
	</div>
	<div class="gf-form gf-form--grow">
      <div class="gf-form-label gf-form-label--grow"></div>
    </div>
  </div>

  <div class="gf-form-inline">
    <div class="gf-form">
      <label class="gf-form-label query-keyword width-8">Target Name</label>
	  <input type="text" class="gf-form-input" ng-model="ctrl.target.target_alias" bs-tooltip="'Add target alias'" data-iplacement="right" spellcheck="false"></input>
    </div>
	<div class="gf-form gf-form--grow">
      <div class="gf-form-label gf-form-label--grow"></div>
    </div>
  </div>

  <div class="gf-form">
    <label class="gf-form-label query-keyword width-8">Format As</label>

    <span class="gf-form-select-wrapper">
      <select class="gf-form-input" style="width:183px;" name="displayFormat" ng-model="ctrl.target.displayFormat" bs-tooltip="'Set display format'">
        <option value="series">series</option>
        <option value="table">table</option>
      </select>
    </span>
    <div class="gf-form gf-form--grow"><div class="gf-form-label gf-form-label--grow"></div></div>
  </div>

  <div class="gf-form-inline">
    <div class="gf-form">
	  <button class="gf-form-label" style="background-color:#008CBA; border-radius: 4px; width:120px;" ng-click="ctrl.panelCtrl.refresh();">Run</button>
    </div>
  </div>
</div>
</query-editor-row>
